# Initialise GraphLab Create

In [3]:
import graphlab

In [8]:
#load tab dataset
sf = graphlab.SFrame('people-example.csv')

#SFrame basics
sf # shows the dataset
n = 3
sf.head(n) # shows n lines from header
sf.tail(n) # shows n lines from end of file

PROGRESS: Finished parsing file /Users/itstuckertime/Documents/Coursera/Untitled Folder/people-example.csv
PROGRESS: Parsing completed. Parsed 7 lines in 0.010507 secs.
------------------------------------------------------
Inferred types from first line of file as
column_type_hints=[str,str,str,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------
PROGRESS: Finished parsing file /Users/itstuckertime/Documents/Coursera/Untitled Folder/people-example.csv
PROGRESS: Parsing completed. Parsed 7 lines in 0.009886 secs.

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 3

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[3 rows x 4 columns]

# GraphLab Canvas

In [9]:
#opens a separate page with the graphlab GUI for data visualisation (GraphLab Create)
sf.show()

Canvas is accessible via web browser at the URL: http://localhost:58073/index.html
Opening Canvas in default web browser.

In [10]:
#Visualise the data inside this notebook rather than in a new window:
graphlab.canvas.set_target('ipynb')

sf['age'].show(view='Categorical')

In [11]:
#without any additional operation, the below will print out the values in the column
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [12]:
sf['age']

dtype: int
Rows: 7
[24, 23, 22, 23, 23, 22, 25]

In [14]:
sf['age'].mean()
sf['age'].max()
sf['age'].min()

23.142857142857146

# Createnew columns in SFrame

In [19]:
sf['Full Name'] = sf['First Name'] + sf['Last Name']
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+---------------+
| First Name | Last Name |    Country    | age |   Full Name   |
+------------+-----------+---------------+-----+---------------+
|    Bob     |   Smith   | United States |  24 |    BobSmith   |
|   Alice    |  Williams |     Canada    |  23 | AliceWilliams |
|  Malcolm   |    Jone   |    England    |  22 |  MalcolmJone  |
|   Felix    |   Brown   |      USA      |  23 |   FelixBrown  |
|    Alex    |   Cooper  |     Poland    |  23 |   AlexCooper  |
|    Tod     |  Campbell | United States |  22 |  TodCampbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   DerekWard   |
+------------+-----------+---------------+-----+---------------+
[7 rows x 5 columns]

#Use the apply function for data transformation

In [21]:
sf['Country'].show()
#create function to clean data into common term i.e. USA becomes united states

In [22]:
def transform_country(country):
    if country == 'USA':
        return 'United States'
    else:
        return country

In [25]:
transform_country('USA')

'United States'

In [29]:
sf['Country'] = sf['Country'].apply(transform_country)

In [30]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+---------------+
| First Name | Last Name |    Country    | age |   Full Name   |
+------------+-----------+---------------+-----+---------------+
|    Bob     |   Smith   | United States |  24 |    BobSmith   |
|   Alice    |  Williams |     Canada    |  23 | AliceWilliams |
|  Malcolm   |    Jone   |    England    |  22 |  MalcolmJone  |
|   Felix    |   Brown   | United States |  23 |   FelixBrown  |
|    Alex    |   Cooper  |     Poland    |  23 |   AlexCooper  |
|    Tod     |  Campbell | United States |  22 |  TodCampbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   DerekWard   |
+------------+-----------+---------------+-----+---------------+
[7 rows x 5 columns]